<div class="footer">
  <div class="footer-links">
    <a href="https://github.com/codlp/airtop"><i class="fab fa-github"></i></a>
  </div>
  <div class="footer-copyright">
    This website is made with <i class="fas fa-heart"></i> by AirTop
  </div>
</div>
