<div class="container">
  <div class="row">
    <% 9.times do %>

      <div class="col-xs-12 col-sm-6 col-md-4">
        <div class="card-trip">
          <img class="roof-img" src="https://images.unsplash.com/photo-1493246318656-5bfd4cfb29b8?ixlib=rb-1.2.1&ixid=eyJhcHBfaWQiOjEyMDd9&auto=format&fit=crop&w=1650&q=80">
          <div class="card-trip-infos">
            <h2>Rent a Roof</h2>
          <h2 class="card-trip-pricing">£99.99</h2>
          </div>
          <img src='https://d1qb2nb5cznatu.cloudfront.net/users/3459455-large?1516069194' class="card-trip-user avatar-bordered"/>
        </div>
      </div>
    <% end %>
  </div>
</div>
