.flexbox {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding-left: 20px;
}

.presentation-banner-text {
  color: white;
  font-size: 25px;
  margin-bottom: 60px;
  margin-top: 60px;
}
