.pricing-img {
  max-width: 80px;
}

.pricing-header {
  font-size: 20px;
}

.pricing-table {
  flex-direction: column;
  width: 300px;
}

// .panel .pricing-table {
//   width: 200px;
//   height: 400px;
// }
