.pricing-img {
  max-width: 20px;
  margin-bottom: 8px;
}

.pricing-header {
  font-size: 10px;
}

.pricing-price {
  font-size: 12px;
}

.pricing-table{
  flex-direction: row;
  height: max-content;
  padding: 10px;
}

.pricing-plan {
  padding: 5px 16px;
  height: max-content;
}
// .panel .pricing-table {
//   width: 200px;
//   height: 400px;
// }
