.show-container {
  display: flex;
  justify-content: space-between;
}

.rooftop-presentation {
  padding-left: 20px;
  padding-right: 20px;
  margin: 5em;
  width: auto;
}
.rooftop-presentation h2{
  padding-bottom: 30px;
}

.calendar {
  display: flex-inline;
  background-color: white;
  padding: 20px;
  padding-bottom: 50px;
}

.form-wrapper {
  display: flex-inline;
}

.title-card{
color: white;
text-align: center;
vertical-align: middle;
}
