.show-container {
  display: flex;
}

.rooftop-presentation {
  padding-left: 40px;
}

.calendar {
  display: flex-inline;
  background-color: white;
  padding: 20px;
  padding-bottom: 50px;
}

.form-wrapper {
  display: flex-inline;
}
